.container {
  background: transparent linear-gradient(302deg, #0e1027 0%, #24274b 100%) 0%
    0% no-repeat padding-box;
  min-width: 100vw;
  min-height: 100vh;
  flex: 1;
  padding-top: 10vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;

  @media (min-width: 768px) {
    justify-content: space-between;
    // position: relative;
    padding-left: calc(3.3rem + 3.5rem + 4rem);
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    padding-left: calc(3.3rem + 4.2rem + 4rem);
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    padding-left: calc(3.3rem + 5.2rem + 4rem);
  }
}

.highlight {
  display: flex;
  align-items: center;
  color: #9cff39;
  align-self: flex-end;
  margin-bottom: 4rem;

  p {
    margin: 0;
  }

  @media (min-width: 768px) {
    align-self: flex-start;
  }
}

.highlightIcon {
  width: 1rem;
  margin-right: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.header {
  font-size: 1.4rem;
  font-weight: 600;
  color: #9098f7;
  margin: 0;

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    font-size: 1.35rem;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    font-size: 1.25rem;
  }
}

.title {
  font-size: 3.9rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 4.3rem;
  }
}

.copy {
  font-size: 1rem;
  color: #ffffff;
  max-width: 60vw;
  margin-top: 2rem;
  line-height: 1.8rem;

  @media (min-width: 768px) {
    max-width: 40vw;
  }
}

.subTitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: #9098f7;

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    font-size: 1.65rem;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

.arrowRight {
  display: none;
  position: relative;
  width: 3rem;

  @media (min-width: 768px) {
    display: block;
  }
}
