.container {
  background: transparent linear-gradient(302deg, #0e1027 0%, #24274b 100%) 0%
    0% no-repeat padding-box;
  min-width: 100vw;
  min-height: 100vw;
}

.profileDetailCircle {
  background-image: url("/assets/aboutMeCircle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main {
  margin: auto;
  max-width: 90vw;
  padding-top: calc(10vh - 0.8rem);
  //   padding-top: 10vh;

  @media (min-width: 768px) {
    max-width: 78vw;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    max-width: 60vw;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    max-width: 42vw;
  }

  h5 {
    margin: 0;
    color: #9098f7;
    font-size: 1.1rem;
  }

  p {
    margin: 0;
    margin-bottom: 1.5rem;
    color: #ffffff;
    line-height: 2rem;
  }
}

.headTitle {
  margin-bottom: 0.1rem;
}

.mainTitle {
  margin: 0;
  color: #ffffff;
  font-size: 3rem;
}

.subTitle {
  padding: 3rem 0;
}

.dowloadButton {
  background: #9098f7;
  padding: 0.8rem 2.2rem;
  border-radius: 0.7rem;
  text-decoration: none;
  border: none;
}

.extaContent {
  display: flex;
  min-height: calc(45vw * 1.5);

  @media (min-width: 768px) {
    min-height: calc(39vw * 1.5);
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    min-height: calc(30vw * 1.5);
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    min-height: calc(21vw * 1.5);
  }
}

.extaContentLeftColumn {
  flex: 1;
  //   background: yellowgreen;
  align-self: flex-end;
  max-width: 50%;
  vertical-align: bottom;

  p {
    // margin-top: auto;
    margin-bottom: 0;
  }
}

.extaContentRightColumn {
  flex: 1;
  //   background: yellow;
  overflow: visible;
  position: relative;
  //   min-height: 600px;
  text-align: right;
  font-size: 1.4rem;
  align-self: flex-end;
  max-width: 50%;
  min-width: 50%;

  h3 {
    color: #ffffff;
  }

  min-height: calc(45vw * 1.5);

  @media (min-width: 768px) {
    min-height: calc(39vw * 1.5);
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    min-height: calc(30vw * 1.5);
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    min-height: calc(21vw * 1.5);
  }
}

.profileDetailCircle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 0%);

  min-height: calc(45vw * 1.5);
  min-width: calc(45vw * 1.5);

  @media (min-width: 768px) {
    min-height: calc(39vw * 1.5);
    min-width: calc(39vw * 1.5);
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    min-height: calc(30vw * 1.5);
    min-width: calc(30vw * 1.5);
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    min-height: calc(21vw * 1.5);
    min-width: calc(21vw * 1.5);
  }
}
