.container {
  position: absolute;
  right: 0;
  //   background: red;
  min-width: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //   align-items: flex-start;
  justify-content: center;
  z-index: 10000;

  @media (min-width: 768px) {
    right: 25vh;
  }
}

.dots {
  //   background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.dot {
  border: none;
  width: 0.8rem;
  height: 0.8rem;
  background: #9098f7;
  opacity: 0.4;
  border-radius: 50%;
  margin: 0.3rem 0;
  padding: 5px;
  cursor: pointer;
}

.activeDot {
  opacity: 1;
  background: #9098f7;
  width: 1rem;
  height: 1rem;
}

.controlWheel {
  background: white;
  display: none;
  width: 50vh;
  height: 50vh;
  transform: matrix(1, 0, 0, 1, 0, 0);

  &:after {
    position: absolute;
    content: "";
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    border: 1px solid red;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    display: block;
  }

  li {
    position: absolute;
    transform: translateX(-50%, -50%);
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    // transform-origin: bottom right;
  }
}
