.container {
  position: absolute;
  right: 0;
  //   background: red;
  min-width: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //   align-items: flex-start;
  justify-content: center;
  z-index: 10000;

  @media (min-width: 768px) {
    right: -35vh;
  }
}

.dots {
  //   background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.dot {
  border: none;
  width: 0.8rem;
  height: 0.8rem;
  background: #9098f7;
  opacity: 0.4;
  border-radius: 50%;
  margin: 0.3rem 0;
  padding: 5px;
  cursor: pointer;
}

.activeDot {
  opacity: 1;
  background: #9098f7;
  width: 1rem;
  height: 1rem;
}

.controlWheel {
  position: relative;
  //   background: white;
  display: none;
  width: 50vh;
  height: 50vh;
  transform: matrix(1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  //   transition-delay: 0;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);

  &:after {
    position: absolute;
    content: "";
    top: 5vh;
    left: 5vh;
    width: calc(100% - 10vh);
    height: calc(100% - 10vh);
    border: 0.15rem solid #9098f7;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    display: block;
  }

  ul {
    position: absolute;
    // width: 25vh;
    // height: 25vh;
  }

  li {
    width: 25vh;
    height: 25vh;
    transform-origin: 100% 100%;
    position: absolute;

    // transform: translateX(-50%, -50%);
    list-style-type: none;
    // text-align: center;
    // vertical-align: middle;
    // transform-origin: bottom right;

    &.activeItem {
      p {
        opacity: 1;
      }
    }

    p {
      display: block;
      position: absolute;
      width: 15vh;
      bottom: 5.3vh;
      right: 5.3vh;
      text-align: center;
      transform: skew(-45deg) rotate(-67.5deg);
      color: #9098f7;
      opacity: 0.6;
      font-weight: 600;

      //   width: 5vh;
      //   height: 5vh;
      //   border-radius: 50%;
      //   padding-top: 10vh;
    }
  }
}

.one {
  //   background: red;
  transform: rotate(45deg) skew(45deg);
}

.two {
  //   background: pink;
  transform: rotate(90deg) skew(45deg);
}

.three {
  //   background: orange;
  transform: rotate(135deg) skew(45deg);
}

.four {
  //   background: yellow;
  transform: rotate(180deg) skew(45deg);
}

.five {
  //   background: yellowgreen;
  transform: rotate(225deg) skew(45deg);
}

.six {
  //   background: green;
  transform: rotate(270deg) skew(45deg);
}

.seven {
  //   background: blue;
  transform: rotate(315deg) skew(45deg);
}

.eight {
  //   background: purple;
  transform: rotate(360deg) skew(45deg);
}
