.nav {
  width: calc(3.3rem + 1.2rem);
  position: absolute;
  padding-left: 1.2rem;
  padding-top: 10vh;
  padding-bottom: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    position: relative;
    width: calc(3.3rem + 3.5rem);
    padding-left: 3.5rem;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    width: calc(3.3rem + 4.2rem);
    padding-left: 4.2rem;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    width: calc(3.3rem + 5.2rem);
    padding-left: 5.2rem;
  }
}

@keyframes fadeIn {
  0% {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(200px) opacity(0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(200px) opacity(1);
  }
}

@keyframes fadeOut {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(200px) opacity(1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(200px) opacity(0);
  }
}

.navBackgroundOut {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0);
  animation: fadeOut 0.5s ease-out;
  backdrop-filter: blur(200px) opacity(0);

  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    background-color: rgba(255, 255, 255, 0);
    animation: none;
    backdrop-filter: blur(200px) opacity(0);
  }
}

.navBackgroundIn {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
  animation: fadeIn 0.5s ease-in;
  backdrop-filter: blur(200px) opacity(1);

  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    background-color: rgba(255, 255, 255, 0);
    animation: none;
    backdrop-filter: blur(200px) opacity(0);
  }
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bodyFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bodyIn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: bodyFadeIn 0.5s ease-in;
}

.bodyOut {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: bodyFadeOut 0.5s ease-in;
}
