html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif, Roboto;

  h1,
  h2,
  h3 {
    font-family: "Yeseva One", cursive;
  }

  h4,
  h5,
  h6 {
    font-family: "Harmattan", sans-serif;
  }

  // font-family: 'Indie Flower', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  html {
    font-size: 82.75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 93.75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
