.container {
  position: relative;
  width: 3rem;
  height: 100px;
  // background: green;
  // display: fl
  padding-top: 2rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
}

.top {
  position: relative;
  margin-bottom: 0.5rem;
  width: 2rem;
}

.bottomInactive {
  position: relative;
  width: 2.7rem;
  left: 0px;
  transform: rotate(0deg);
  transform-origin: top left;
  //   transition-delay: 0;
  transition-duration: 0.5s;
  transition-property: transform, left, right;
  transition-timing-function: ease-in-out;
}

.bottomActive {
  position: relative;
  width: 2.7rem;
  min-height: 2.7rem;
  left: 0.5rem;
  transform: rotate(90deg);
  transform-origin: top left;

  //   transition-delay: 0;
  transition-duration: 0.5s;
  transition-property: transform, left;
  transition-timing-function: ease-in-out;
}
