.container {
  background: transparent linear-gradient(238deg, #0e1027 0%, #24274b 100%) 0%
    0% no-repeat padding-box;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;

  padding-bottom: 2rem;
  padding-left: 2rem;

  @media (min-width: 768px) {
    background: transparent linear-gradient(58deg, #0e1027 0%, #24274b 100%) 0%
      0% no-repeat padding-box;
    padding-top: 0;
    padding-bottom: 0;

    padding-right: 3rem;
    padding-left: calc(3.3rem + 3.5rem + 4rem);
  }

  @media (min-width: 992px) {
    padding-left: calc(3.3rem + 4.2rem + 4rem);
    padding-right: 5rem;
  }

  @media (min-width: 1200px) {
    padding-left: calc(3.3rem + 5.2rem + 4rem);
    padding-right: 14rem;
  }
}

.header {
  font-size: 1.4rem;
  font-weight: 600;
  color: #9098f7;
  margin: 0;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  color: #45486a;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

.textWrapper {
  position: absolute;
  top: calc(10vh + 1.4rem + 4.5rem);
  left: 2rem;

  @media (min-width: 768px) {
    top: calc(10vh + 1.4rem);
    left: calc(3.3rem + 3.5rem + 4rem);
    z-index: 10;
  }

  @media (min-width: 992px) {
    left: calc(3.3rem + 4.2rem + 4rem);
  }

  @media (min-width: 1200px) {
    left: calc(3.3rem + 5.2rem + 4rem);
  }
}

.body {
  z-index: 20;
}

.cardContainer {
  padding-top: calc(10vh + 1.4rem + 4.5rem + 10rem);
  padding-right: 8rem;
}
